{% extends "main/base.html" %}
{% load static%}





{%block content%}
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/static/images/XXXL_1.webp" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ room.name }}</h5>
          <p class="card-text"><li>{{ rooms_booking.desc1 }}</li>
            <li>{{ rooms_booking.desc2 }}</li>
        <li>{{ rooms_booking.desc3 }}</li>
        <li>{{ rooms_booking.desc4 }}</li>
        <li>{{ rooms_booking.desc5 }}</li>
        <li>{{ rooms_booking.desc6 }}</li>
        <li>{{ rooms_booking.desc7 }}</li>
        <li>{{ rooms_booking.desc8 }}</li></p>
        </div>
      </div>
    </div>
  </div>



	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form>
							
							<div class="col-md-2">
								<div class="form-group">
                                    <span class="form-label">Количество гостей</span>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
									</select>
									<span class="select-arrow"></span>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
                                    <span class="form-label">Количество детей</span>
									<select class="form-control">
										<option>0</option>
										<option>1</option>
										<option>2</option>
									</select>
									<span class="select-arrow"></span>					
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
                                    <span class="form-label">Заезд</span>
									<input class="form-control" type="date" required>									
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
                                    <span class="form-label">Выезд</span>
									<input class="form-control" type="date" required>						
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-btn">
                                    <span class="form-label"></span>
									<button type="button" class="btn btn-primary">Забронировать</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

    {%endblock%}
